<div class="row">

    <!-- Selección de dispositivo de video -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Escoga una cámara</label>
        </div>
        <select class="custom-select" (change)="changeDevice($event.target.value)">
			<option>Seleccione un dispositivo de video...</option>
			<option *ngFor="let device of videoDevices">{{ device.label }}</option>
		</select>
    </div>

    <!-- Terminal -->
    <input type="hidden" #selection>

    <div class="terminal" [ngSwitch]="selection.value">
        <pre *ngSwitchDefault>Scanning...
        <div>
          <qr-scanner
            [debug]="false"
            [canvasWidth]="640"
            [canvasHeight]="480"
            [stopAfterScan]="false"
            [updateTime]="500"> 
          </qr-scanner>    
        </div>
      </pre>
        <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
        <pre *ngSwitchCase="'dependency'">ng add _____</pre>
        <pre *ngSwitchCase="'test'">ng test</pre>
        <pre *ngSwitchCase="'build'">ng build --prod</pre>
    </div>

    <!-- Mensaje -->
    <div *ngIf="scanned" class="alert alert-success mt-3" role="alert">
        El valor del código es: {{ valueQR }}
    </div>

</div>